button {
	@include button(default, default, filled);
}
.bn {
	@include button($lblue);
}
.bn--red {
	@include button($error);
}
.bn--blue {
	@include button($lblue);
}
.bn--green {
	@include button($green);
}
.bn--gray {
	@include button($gray-400, $gray-900, filled);
}

// icons
.bn--icon-add {
	@include bn--icon('\f067');
}
.bn--icon-down {
	@include bn--icon('\f0d7');
}
.bn--icon-star {
	@include bn--icon('\f005', 200);
	&#{'-right'}
	  &:before {
		  top: 49%;
	  }
	&:before {
		top: 49%;
	}
}
.bn--icon-star-filled {
	@include bn--icon('\f005');
	&#{'-right'} {
		&:before {
			top: 49%;
		}
	}
	&:before {
		top: 49%;
	}
}
.bn--icon-filter {
	@include bn--icon('\f0b0');
}
.bn--icon-link {
	@include bn--icon('\f0c1');
}
.bn--icon-world {
	@include bn--icon('\f57d');
}

//with
.bn--w2 {
	width: 15rem;
	padding-left:  .2rem !important;
	padding-right: .2rem !important;
}

.bn--s {
	padding: .7rem 1.3rem;
	font-size: 1.3rem;
	border-radius: .5rem;
}

// reset
.bn--reset {
	background-color: initial;
	border: none;
	border-radius: 0;
	color: inherit;
	padding: 0;
}