@mixin inputsHalf() {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& > .SUI-input {
		width: calc(50% - (#{$s-3} / 2));
		margin: 0;
		margin-bottom: $s-4;
		.SUI-input-main {
			width: 100%;
		}
	}
}
.inputsHalf {
	@include inputsHalf()
}

.editProfileContaier {
	@media (min-width: $device-tablet) {
		background-color: $gray-200;
	}
}

#editProfile {
	@include container(l);
	margin-top: $s-6;
	display: flex;
	align-items: flex-start;
	.editProfile__menu {
		@media (max-width: $device-tablet) {
			display: none;
		}
		flex-grow: 0;
		flex-shrink: 0;
		width: 20rem;
		margin-right: $s-6;
		.__menuMain {
			background-color: #fff;
			color: $gray-800;
			.__menuItem {
				&.selectedLink {
					color: white;
					background-color: $lblue;
				}
				a {
					div {
						display: flex;
						align-items: center;
						padding: $s-3 0;
						i {
							margin: 0 $s-2;
							width: 2rem;
							text-align: center;
						}
						span {
							text-transform: uppercase;
							font-size: 1.2rem;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
	.mainEdit {
		flex-grow: 1;
		@media (max-width: $device-tablet) {
			display: none;
		}
	}
	.mainEditMobile {
		display: none;
		@media (max-width: $device-tablet) {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		.__option {
			width: 100%;
			padding: $s-5 $s-4;
			font-size: 1.6rem;
			color: $gray-900;
			i {
				margin-right: $s-3;
			}
		}
	}
}
.profileForm {
	background-color: #fff;
	padding: $s-6 $s-5;
	// &form {
		h3 {
			margin-top: $s-3;
			&:first-child {
				margin-top: 0;
			}
		}
		.formSection {
			margin-top: $s-3;
			&:first-child {
				margin-top: 0;
			}
		}
	// }
}
#formEditCareer {
	.__study, .__work {
		border-top: $grayBorder-400;
		margin-top: $s-2;
		padding-top: $s-6;
		&:first-child {
			border-top: none;
			margin-top: 0;
			padding-top: 0;
		}
		.__studyHeader, .__workHeader {
			display: flex;
			align-items: center;
			i {
				width: 4rem;
				height: 4rem;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				margin-left: $s-2;
				flex-grow: 0;
				flex-shrink: 0;
				opacity: .5;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.addPaperModal {
	// @include abs-center();
	background-color: #fff;
	padding: $s-5;
	box-shadow: $elevation--z2;
	border-radius: 1rem;
	max-width: calc(100% - #{$s-2 * 2});
	max-height: calc(100vh - #{$s-2 * 2});
	overflow-y: auto;
	width: 80rem;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}