.errorPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@include abs-center();
	text-align: center;
	width: 90%;
	padding-bottom: $s-4;
	img {
		max-width: 30rem;
		margin-bottom: 1rem;
	}
	.errorCode {
		font-size: 6rem;
		font-weight: 900;
		text-shadow: 
			0.15rem 0.15rem black,
			-0.15rem -0.15rem black,
			-0.15rem 0.15rem black,
			0.15rem -0.15rem black,
			-0.15rem 0rem black,
			0.15rem 0rem black,
			0rem -.15rem black,
			0rem .15rem black
		;
		color: white;
	}
	.errorName {
		font-size: 3rem;
		color: $lblue;
		font-weight: 600;
		margin-bottom: 1.1rem;
	}
}