.jobPage {
	padding-bottom: $s-5;
	box-sizing: border-box;
	.job__mobilApply {
		display: none;
	}
	.job__header {
		background-color: white;
		padding: $s-6 0;
		& > div {
			display: flex;
			.job__header__back {
				flex-shrink: 0;
				width: $s-5;
				display: none;
			}
			.job__header__main {
				flex-grow: 1;
				color: $gray-800;
				h3 {
					font-weight: 500;
				}
				h1 {
					font-weight: 300;
					font-size: 3rem;
				}
				.job__highlights {
					display: flex;
					.highlight {
						margin: $s-5 0;
						margin-right: $s-5;
						display: flex;
						.highlight__icon {
							font-size: $s-3;
							margin-right: $s-1;
							color: $gray-600;
							color: $lblue;
						}
						.highlight__text {
							h4 {
								font-weight: 400;
								font-size: $s-3;
							}
							p {
								font-size: 1.2rem;
								color: $gray-700;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
	.job__tabs {
		.job__tabMenu {
			padding-top: $s-6;
			padding-bottom: $s-2;
			button {
				color: $gray-800;
				&.active {
					color: $lblue;
				}
				padding: 0;
				margin-right: $s-5;
			}
		}
		.job__details {
			background: white;
			padding: $s-4;
			display: flex;
			margin-top: $s-5;
			.job__details__data {
				h4 {
					margin-bottom: $s-2;
				}
				flex: 1;
				p {
					@extend .text;
				}
				ul li {
					@extend .text;
					margin-bottom: 0;
					list-style: none;
				}
				ul.job__details__detailsList {
					$lh: 2rem;
					li {
						display: flex;
						align-items: flex-start;
						margin-bottom: $s-2;
						i {
							flex-shrink: 0;
							width: $s-3;
							height: $lh;
							align-items: center;
							display: flex;
							justify-content: center;
							margin-right: $s-1;
							color: $gray-800;
						}
						p {
							margin-bottom: 0;
							line-height: $lh;
						}
					}
				}
				h3 {
					margin-bottom: $s-2;
					&:not(:first-child){
						margin-top: $s-4;
					}
				}
				h4 {
					margin-top: $s-3;					
					margin-bottom: $s-2;					
				}
			}
			.job__details__institute {
				padding-left: $s-3;
				margin-left: $s-3;
				border-left: $grayBorder-400;
				flex-shrink: 0;
				width: 30rem;
			}
		}
	}
	@media(max-width: $device-tablet){
		background-color: white;
		.job__mobilApply {
			display: flex;
			position: fixed;
			left: 50%;
			transform: translateX(-50%);
			bottom: 2rem;
			z-index: 100;
			background-color: $green;
			border-radius: 10rem;
			color: white;
			font-size: 1.7rem;
			font-weight: 500;
			box-shadow: $elevation--z2;
			a {
				padding: 1.6rem;
				padding-left: 2rem;
				padding-right: .5em;
			}
			.markFav {
				width: 4.5rem;
				position: relative;
				&:before {
					@include icon-font('\f005', light);
					// @include abs-center();
					position: absolute;
					right: 2rem;
					top: 50%;
					transform: translateY(-50%);
				}
				&.--fav:before {
					@include icon-font('\f005', solid);
				}
			}
		}
		.job__header {
			background: $gradient-a;
			padding: 2rem 0;
			& > div {
				.job__header__main {
					&>*{
						color: white;
					}
					.job__header__titles {
						display: flex;
						flex-direction: column-reverse;
						align-items: flex-start;
						h3 {
							background-color: white;
							padding: .2rem .5rem;
							color: $lblue;
							display: inline-flex;
							font-size: 1.2rem;
							margin-top: .7rem;
							font-weight: 600;
						}
						h1 {
							font-size: 1.7rem;
							font-weight: 500;
							padding-top: 2rem;
						}
					}
					.job__highlights {
						display: flex;
						justify-content: space-between;
						width: 100%;
						margin-top: 2rem;
						.highlight {
							margin: 0;
							.highlight__icon {
								color: white;
								font-size: 1.5rem;
							}
							.highlight__text {
								h4 {
									font-size: 1.5rem;
								}
								h4, p {
									color: white;
								}
							}
						}
					}
					.job__actions {
						display: none;
					}
				}
			}
		}
		.job__tabs {
			.job__details {
				padding: 0;
				padding-top: $s-3;
				margin-top: 0;
				flex-direction: column-reverse;
				.job__details__data {

				}
				.job__details__institute {
					margin: 0;
					padding: 0;
					border: none;
					.instituteDescription {
						display: none;
					}
					.institute__actions {
						display: flex;
						margin: 1rem 0;
					}
				}
			}
		}
	}
}
