#offerDashboard {
	@include container(xl);
	h1 {
		font-size: 2rem;
		text-transform: uppercase;
		color: #1b75bb;
		padding-top: 2rem;
	}
	.offer__dataDashboard {
		display: flex;
		align-items: flex-start;
		.offer_highlights {
			@media (max-width: $device-tabletLandscape) {
				display: none;
			}
			background-color: white;
			padding: $s-4 $s-2;
			margin-left: $s-6;
			display: flex;
			flex-direction: column;
			width: 17rem;
			flex-shrink: 0;
			flex-grow: 0;
			.highlight__row {
				display: flex;
				margin-bottom: $s-4;
				&:last-child {
					margin-bottom: 0;
				}
				.highlight__icon {
					width: 3rem;
					margin-right: $s-1;
					text-align: right;
					color: $lblue;
					font-size: 1.7rem;
					font-weight: 700;
					flex-shrink: 0;
					flex-grow: 0;
				}
				.highlight__text {
					@include label(m);
					font-size: 1.2rem;
					margin-top: .4rem;
				}
			}
		}
	}
	@media (max-width: $device-mobileLarge) {
		padding: 0;
		.offer__header {
			@include container();
		}
	}
}
.offerCandidates {
	background-color: white;
	flex: 1;
	.candidates__header {
		.candiates__actions {
			
		}
		.candidates__titles {
			height: 5rem;
			color: $gray-600;
			z-index: 0;
			box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122), inset 0 1px 0 0 rgba(100,121,143,0.122);
			.cell {
				cursor: pointer;
				&:hover i {
					opacity: .5;
				}
				label {
					user-select: none;
					cursor: pointer;
				}
				i {
					font-size: 1rem;
					margin-left: .5rem;
					opacity: 0;
					transition: transform .2s ease, padding .02s ease;
					&.sorted {
						opacity: 1;
						transform: rotate(0deg);
						padding-top: 0;
					}
					&.sortedReversed {
						transform: rotate(180deg);
						padding-top: .1rem;
					}
				}
			}
		}
	}
	.candidates__list {
		.candidateConainer {
			height: 5rem;
			position: relative;
			z-index: 0;
			cursor: pointer;
			box-shadow: $elevation--z0,  inset 0 -1px 0 0 rgba(100,121,143,0.122);
			transition: box-shadow .1s;
			@media (min-width: $device-mobileLarge) {
				&:hover {
					z-index: 1;
					box-shadow: $elevation--z2, inset 0 0 0 0;
				}
			}
		}
	}
	.cellRow {
		height: 100%;
		display: flex;
		.cell {
			flex-shrink: 0;
			flex-grow: 1;
			display: flex;
			align-items: center;
			margin-right: $s-3;
			font-size: 1.2rem;
			font-weight: 500;
			&:first-child {
				margin-left: $s-3;
			}
		}
		.profile {
			$profile-size: 3.5rem;
			width: $profile-size;
			flex-grow: 0;
			div {
				background-image: url('/static/img/icons/defaultProfile-light.svg');
				background-size: cover;
				background-position: center;
				height: $profile-size;
				width: $profile-size;
				position: relative;
				border-radius: 50%;
				overflow: hidden;
				img {
					@include abs-center();
					width: 102%;
				}
			}
		}
		.name {
			width: 20rem;
			div {
				line-height: 1.5rem;
				@include max-lines(1, 1.5rem);
			}
		}
		.age {
			width: 4.2rem;
		}
		.university {
			width: 8.5rem;
		}
		.careerName {
			width: 8rem;
		}
		.careerStatus {
			width: 8rem;
		}
		.labExperience {
			width: 8.5rem;
			flex-grow: 0;
		}
		.date {
			width: 5.2rem;
			flex-grow: 0;
			justify-content: flex-end;
		}
		@media (max-width: 800px) {
			.name {
				width: 18rem;
			}
			.age, .labExperience {
				display: none;
			}
		}
	}
	@media (max-width: $device-mobileLarge) {
		.candidates__header {
			display: none;
		}
		.candidates__list {
			.candidateConainer {
				height: 7rem;
			}
		}
		.cellRow {
			.cell {
				font-size: 1.3rem;
			}
			.age ,
			.university ,
			.careerName ,
			.careerStatus ,
			.labExperience {
				display: none;
			}
			.profile {
				$profile-size: 4.5rem;
				width: $profile-size;
				div {
					height: $profile-size;
					width: $profile-size;
				}
			}
			.date {
				color: $gray-600;
			}
		}
	}
}