@mixin offerProfile__iconTitle() {
	display: flex;
	align-items: center;
	margin-bottom: $s-3;
	i, h2 {
		color: $gray-700;
		font-size: 1.5rem;
	}
	i {
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: $s-2;
	}
	h2 {
		font-weight: 600;
		text-transform: uppercase;
	}
}
#offerProfile {
	@include container(xl);
	.offerProfileContent {
		// padding-top: $s-6;
		padding-bottom: $s-6;
		display: flex;
	}
	.offerProfileList,
	.offerProfileActions {
		width: 25rem;
		flex-shrink: 0;
		position: relative;
		.__fixedContent {
			position: fixed;
			background-color: white;
			width: inherit;
			box-sizing: border-box
		}
	}
	.offerProfileList {
		.__fixedContent {
			.profileList__item {
				padding: $s-2;
				cursor: pointer;
				.profileName {
					@include max-lines(1, 1.5rem);
				}
				.profileEmail {
					@include max-lines(1, 1.5rem);
					word-break: break-all;
					font-size: 1.2rem;
				}
				&:hover {
					background-color: $gray-100;
				}
				&.profileSelected {
					background-color: $lblue;
					color: white;
				}
			}
		}
	}
	.offerProfileActions {
		.__fixedContent {
			padding: $cont-padding;
			.action__section {
				margin-top: $s-4;
				padding-top: $s-4;
				border-top: $grayBorder-400;
				.section__header {
					@include offerProfile__iconTitle();
				}
				.addNote {
					textarea {
						width: 100%;
						height: 10rem;
						resize: none;
						box-sizing: border-box;
						padding: $s-1;
					}
				}
			}
		}
	}
	.offerProfileData {
		flex-grow: 1;
		background-color: white;
		margin: 0 $s-6;
		padding: $cont-padding;
		box-sizing: border-box;
		.offerHeader {
			display: flex;
			.offerHeader__prev:before {
				@include icon-font('\f104');

			}
			.offerHeader__next:before {
				@include icon-font('\f105');
			}
			.offerHeader__prev,
			.offerHeader__next {
				width: 10rem;
				cursor: pointer;
				flex-shrink: 0;
				position: relative;
				opacity: .7;
				&:hover {
					opacity: 1;
				}
				&:before {
					font-size: 4rem;
					@include abs-center();
					color: $gray-600;
				}
			}
			.offerHeader__profile {
				flex-grow: 1;
				text-align: center;
				.offerHeader__profilePic {
					$imgw: 12rem;
					width: $imgw;
					height: $imgw;
					border-radius: 50%;
					background-image: url('/static/img/icons/defaultProfile-light.svg');
					background-size: cover;
					background-position: center;
					margin: 0 auto $s-2 auto;
					position: relative;
					overflow: hidden;
					img {
						@include abs-center();
						width: 102%;	
					}
				}
				.offerHeader__name {
					h1 {
						color: $gray-800;
						font-size: 2rem;
					}
					p {}
				}
			}
		}
	}
	.offerBack {
		width: 100%;
		padding: $s-4 0;
	}
	@media (max-width: $device-desktop) {
		.offerProfileList,
		.offerProfileActions {
			width: 20rem;
		}
		.offerProfileData {
			margin: 0 $s-3;
			.offerHeader {
				.offerHeader__prev,
				.offerHeader__next {
					width: 5rem;
				}
			}
		}
	}
	@media (max-width: $device-tabletLandscape) {
		.offerProfileList {
			display: none;
		}
		.offerProfileActions {
			width: 25rem;
		}
		.offerProfileData {
			margin-left: 0;
		}
	}
	@media (max-width: $device-tablet) {
		padding: 0;
		.offerProfileList,
		.offerProfileActions {
			display: none;
		}
		.offerProfileData {
			margin: 0;
		}
		.offerBack {
			padding-left: $s-2;
		}
	}
}
.offerProfile__sections {
	.profile__section {
		margin-top: $s-4;
		padding-top: $s-4;
		border-top: $grayBorder-400;
		.section__header {
			@include offerProfile__iconTitle();
		}
		.section__content {
			padding-left: $s-2;
			.section__dataList {
				& > div {
					margin-bottom: $s-4;
					&:last-child {
						margin-bottom: 0;
					}
					h3 {
						font-size: 1.5rem;
						font-weight: 500;
						margin-bottom: $s-1;
						color: black;
					}
					p {
						margin-bottom: .3rem;
					}
					label {
						@include label(s);
						width: 100%;
						display: block;
						margin-bottom: .3rem;
					}
					.experience__description {
						padding-left: $s-2;
						margin-top: .5rem;
						border-left: $grayBorder-400;
						p {
							margin-bottom: $s-2;
						}
					}
				}
			}
		}
	}
}
.backButton {
	padding: $s-2;
	box-sizing: border-box;
	a {

	}
	span {
		@include label(l);
		cursor: pointer;
		user-select: none;
		&:before {
			margin-right: $s-2;
			@include icon-font('\f104')
		}
	}
}