.ReactModal__Content.__mobileFilters {
	background-color: white;
	width: 100vw;
	padding: $s-2;
	padding-top: $s-6;
	box-sizing: border-box;
	height: 100%;
	overflow-y: auto;
	position: relative;
	.__closeButton {
		position: absolute;
		top: 2rem;
		right: 2rem;
		font-size: 2rem;
	}
}

#seachPage {
	@include container(xl);
	margin-top: $s-4;
	display: flex;
	@media (max-width: $device-tabletLandscape) {
		.__filters {
			display: none;
		}
	}
	.__filters {
		width: 20rem;
	}
	.__main {
		flex-grow: 1;
		width: 100%;
		.searchBox {
			.__input {
			}
			.__controlls {
				display: flex;
				margin-top: $s-4;
				align-items: center;
				justify-content: space-between;
				.__lControll {
					display: flex;
					align-items: center;
					.__tags {
						align-items: center;
						display: flex;
						.TagC {
							margin-bottom: 0;
						}
					}
				}
				.__rControll {
					.__mobileFilters {
						display: none;
					}
					.__selectOrder {
						background-color: #fff;
						border: none;
						border-radius: $s-1;
						padding: $s-1;
						margin-right: $s-2;
					}
				}
				@media (max-width: $device-tabletLandscape) {
					overflow-x: auto;
					width: calc(100% + #{$s-3});
					flex-grow: 0;
					.__rControll {
						order: 1;
						flex-shrink: 0;
						.__mobileFilters {
							display: initial;
							background-color: #fff;
							border: none;
							border-radius: $s-1;
							padding: $s-1;
							margin-right: $s-2;
							cursor: pointer;
						}
					}
					.__lControll {
						order: 2;
					}
					justify-content: left;
				}
			}
		}
	}
}