header {
	$header-h: 7rem;
	width: 100%;
	height: $header-h;
	top: 0;
	z-index: $z-mobile-menu;
	position: fixed;
	background-color: white;
	@at-root #app {
		padding-top: $header-h;
	}
	@include flex-align(space-between, center);
	@include elevation(2);

	& > .logo {
		height: 3.5rem;
		margin-left: $s-3;
		cursor: pointer;
	}
	nav {
		display: flex;
		height: 100%;
		align-items: center;
		a {
			color: $gray-800;
			text-decoration: none;
			margin: $s-3;
		}
		.login {
			margin-left: $s-3;
			height: 100%;
			width: $s-3*8;
			background-color: $lblue;
		}
	}
	.mobile-nav, .mobile-menu {
		display: none;
	}
	@media (max-width: $device-tablet) {
		$header-h: 5.4rem;
		height: $header-h;
		@at-root #app {
			padding-top: $header-h;
		}
		border-bottom: none;
		nav, .logo {
			display: none;
		}
		.mobile-nav {
			box-sizing: border-box;
			top: 0;
			@include flex-align(space-between, center);
			// padding: 0 1.5rem;
			height: inherit;
			width: 100%;
			.logo-mobile, .search-mobile, .menu-mobile {
				// background: red;
				$size: $header-h - 2;
				width: $header-h;
				height: $header-h;
				padding: ($header-h - $size) / 2;
				box-sizing: border-box;
				color: $gray-700;
				font-size: 2rem;
				@include flex-align(center, center);
			}
			.logo-mobile img {
				width: 100%;
			}
			.menu-mobile:before {
				@include icon-font("\f0c9");
			}
			.search-mobile:before {
				@include icon-font("\f002");
			}
		}
		.mobile-menu {
			$delay: 500ms $ease;
			$space: 7rem;
			display: none;
			position: fixed;
			top: 0px;
			height: 100vh;
			width: 100vw;
			z-index: $z-mobile-menu + 1;
			&>div {
				height: 100%;
				position: absolute;
			}
			.mobile-menu__background {
				background-color: $transparent;
				width: 100%;
				transition: background-color $delay;
			}
			.mobile-menu__content {
				box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
				transition: left $delay;
				background: white;
				left: calc(-100vw + #{$space} - .1rem);
				width: calc(100vw - #{$space});
				height: 100%;
			}
			&.mobile-menu--display {
				display: flex;
			}
			&.mobile-menu--show {
				.mobile-menu__background {
					background-color: rgba(0,0,0,0.32);
				}
				.mobile-menu__content {
					left: 0;
				}
			}
		}
	}
}