header {
	$header-h: 7rem;
	border-bottom: solid .1rem black;
	width: 100%;
	height: $header-h;
	@include flex-align(space-between, center);

	& > .logo {
		height: 3.5rem;
		margin-left: $s3;
		cursor: pointer;
	}
	nav {
		display: flex;
		height: 100%;
		align-items: center;
		a {
			color: $gray-800;
			text-decoration: none;
			margin: $s3;
		}
		.login {
			margin-left: $s3;
			height: 100%;
			width: $s3*8;
			background-color: $lblue;
		}
	}
	.mobile-nav, .mobile-menu {
		display: none;
	}
	@media (max-width: $device-tablet) {
		$header-h: 6rem;
		height: $header-h;
		border-bottom: none;
		nav, .logo {
			display: none;
		}
		.mobile-nav {
			background-color: white;
			position: fixed;
			box-sizing: border-box;
			top: 0;
			@include flex-align(space-between, center);
			padding: 0 1.5rem;
			height: inherit;
			width: 100%;
			.logo-mobile, .search-mobile, .menu-mobile {
				width: 4rem;
				height: 4rem;
				color: $gray-700;
				font-size: 2.5rem;
				@include flex-align(center, center);
			}
			.logo-mobile img {
				width: 100%;
			}
			.menu-mobile:before {
				@include icon-font("\f0c9");
			}
			.search-mobile:before {
				@include icon-font("\f002");
			}
		}
		.mobile-menu {
			$delay: 0.3s;
			$space: 7rem;
			display: none;
			position: fixed;
			top: 0px;
			height: 100vh;
			width: 100vw;
			z-index: $z-mobile-menu;
			&>div {
				height: 100%;
				position: absolute;
			}
			.mobile-menu__background {
				background-color: $transparent;
				width: 100%;
				transition: background-color $delay ease-in-out;
			}
			.mobile-menu__content {
				transition: left $delay ease-in-out;
				background: white;
				left: calc(-100vw + #{$space} - .1rem);
				width: calc(100vw - #{$space});
				height: 100%;
			}
			&.mobile-menu--display {
				display: flex;
			}
			&.mobile-menu--show {
				.mobile-menu__background {
					background-color: rgba(0,0,0,0.3);
				}
				.mobile-menu__content {
					left: 0;
				}
			}
		}
	}
}