.InstituteName {
	display: flex;
	.__profilePick {
		width: 4.5rem;
		height: 4.5rem;
		background-color: $gray-200;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin-right: $s-2;
		a div img {
			@include abs-center();
			width: 65%;
		}
		&.__noBackground {
			border-radius: 0;
			background-color: $transparent;
			a div img {
				width: 100%;
			}
		}
	}
	.__profileData {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.__name {
			color: $gray-800;
		}
		.__detail {
			@include label(s, gray);
			@media (max-width: $device-tablet) {
				margin-top: .2rem;
			}
			a:hover {
				text-decoration: underline;
			}
			.__location {
	
			}
			.__laboratory {
	
			}
		}
	}
}