.institute__header {
	position: relative;
	z-index: 100;
	.institute__headerData {
		display: flex;
		align-items: center;
		padding: $s-3 $cont_padding;
		padding-top: 2.5rem;
		h1 {
			font-size: 2rem;
		}
		a {
			label {
				text-decoration: underline;
				cursor: pointer;
			}
		}
		.institute__logo {
			background: white;
			border-radius: 50%;
			position: relative;
			width: 6rem;
			overflow: hidden;
			margin-right: $s-3;
			&:before {
				content: '';
				width: 100%;
				padding-top: 100%;
				display: block;
			}
			img {
				width: 70%;
				@include abs-center();
			}
		}
	}
	@media (min-width: $device-tabletLandscape) {
		height: 15rem;
		display: flex;
		align-items: center;
		.tabs {
			display: none;
		}
		.institute__headerData {
			h1 {
				color: $gray-800;
			}
			label {
				@include label(m);
			}
			.institute__logo {
				border-radius: 0;
				background: none;
				img {
					width: 100%;
				}
			}
		}
	}
	@media (max-width: $device-tabletLandscape) {
		color: white;
		background: $gradient-b;
		box-shadow: $elevation--z3;
		.institute__headerData {
			label {
				@include label(m, white);
			}
		}
	}
}