.jobPost {
	font-size: 1.2rem;
	color: $gray-800;
	font-weight: 500;
	background: white;
	box-sizing: border-box;
	height: 12.5rem;
	display: flex;
	position: relative;
	margin-bottom: $s-6;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
	}
	h3 {
		color: $lblue;
		font-weight: 600;
		font-size: 1.5rem;
		cursor: pointer;
		width: calc(100% - 2rem);

		@include max-lines(2, 1.6rem);
	}
	.jobPost__logo {
		position: relative;
		background: $gray-300;
		width: 12.5rem;
		flex-shrink: 0;
		@include proportion(100);
		img {
			@include abs-center();
			max-width: 60%;
		}
	}
	.jobPost__content {
		position: relative;
		display: flex;
		width: 100%;
		.jobPost__data {
			height: 100%;
			width: 100%;
			padding: 1.4rem $s-4;
			// padding-top: $s-3;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			.main_data {
				.jobPost__type {
					color: $gray-600;
				}
			}
			.middle_data {
				flex-grow: 1;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: flex-start;
			}
			.button_data {
				color: $gray-700;
			}
			.jobPost__details {
				color: $gray-700;
				position: absolute;
				bottom: 1.4rem;
				right: 1rem;
				min-width: 7rem;
				& > div {
					margin-top: .4rem;
				}
				// display: none;
			}
		}
	}
	.jobPost__favStar {
		position: absolute;
		right: 1rem;
		top: 1rem;
		cursor: pointer;
		color: $gray-600;
		&:hover {
			color: $lblue;
		}
		&:before {
			@include icon-font("\f005", regular);
		}
		&.fav {
			color: $lblue;
			&:before {
				@include icon-font("\f005", solid);
			}
		}
	}
	@media (min-width: $device-tablet){
		.InstituteName {
			display: none;
		}
	}
	@media (max-width: $device-tablet){
		height: initial;
		margin: 0;
		padding-bottom: $s-4;
		padding-top: $s-4;
		border-bottom: 1px solid $gray-400;
		&.noPadding {
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		&:last-child {
			border-bottom: none;
		}
		.jobPost__favStar {
			font-size: 1.5rem;
		}
		 .jobPost__logo {
			 display: none;
		 }
		 .jobPost__content {
			 .jobPost__data {
				 padding: 0;
				 .InstituteName {
					margin-bottom: $s-2;
				}
				.main_data {
					h3 {
						@include max-lines(3, 1.6rem);
					}
				}
				 .middle_data {
					 display: none;
				 }
				 .button_data {
					 margin-top: $s-2;
				 }
				 .jobPost__details {
					 margin-top: $s-1;
					 position: relative;
					 bottom: 0;
					 right: 0;
					 display: flex;
					 .iconData {
						 margin-top: 0;
						 margin-right: $s-3;
						 &:before {
							 text-align: left;
							 width: initial;
							 margin-right: $s-1;
						 }
					 }
				 }
			 }
		 }
	}
}
.iconData {
	cursor: default;
	display: flex;
	align-items: center;
	&:before {
		content: '';
		width: 2rem;
		text-align: center;
	}
	&.--persona:before {
		@include icon-font("\f007", solid);
	}
	&.--estipendo:before {
		@include icon-font("\f155", solid);
	}
	&.--tiempo:before {
		@include icon-font("\f017", regular);
	}
	&.--limite:before {
		@include icon-font("\f073", solid);
	}
	&.--urgente {
		color: $error;
	}
	&.--left:before {
		text-align: left;
	}
}
