.MapBox {
	height: 20rem;
	max-width: 60rem;
	width: 100%;
	.mapboxgl-map {
		width: 100%;
		height: 100%;
		.mapboxgl-ctrl-bottom-right {
			display: none;
			&:before, &:after {
				display: none;
			}
		}
	}
}