.ProfileImage {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $green-500;
	position: relative;
	span {
		@include abs-center();
		color: white;
	}
}


@each $size in 1 2 3 4 5 6 7 8 9 10 {
	.ProfileImage.#{'--size-'}#{$size} {
		width: #{$size}rem;
		height: #{$size}rem;
		overflow: hidden;
		span {
			font-size: #{$size/3}rem;
		}
		img {
			max-width: 100%;
		}
	}
}