.ReactModalPortal {
	.ReactModal__Overlay {
		z-index: 300;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(255,255,255,0) !important;
		transition: background-color 180ms ease;
		&--after-open {
			background-color: rgba(255,255,255,.75) !important;
			.ReactModal__Content {
				transform: translate(0, 0) !important;
				opacity: 1 !important;
			}
		}
		.ReactModal__Content {
			transform: translate(0, 2rem);
			opacity: 0;
			transition: transform 180ms ease, opacity 180ms;
			&:focus {
				outline: none;
			}
			&.defaultModal {
				// @include card();
				&.--s {
					@include container(s);
					padding: $s-5 $s-3;
					margin: $s-2;
				}
				&.--m {
					@include container(m);
					padding: $s-5 $s-3;
					margin: $s-2;
				}
				&.--l {
					@include container(l);
					padding: $s-5 $s-3;
					margin: $s-2;
				}
				&.--adviceModal {
					background-color: white;
					@include elevation(2);
					text-align: center;
					h2 {
						font-weight: 300;
						color: $lblue;
						font-size: 2rem;
						line-height: 2rem;
						margin-bottom: $s-2;
					}
					p {
						margin-bottom: $s-2;
					}
					*:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}