.SearchFilters {
	.__filterSection {
		margin-bottom: $s-4;
		.__secitonTitle {
			font-size: 1.6rem;
			font-weight: 700;
			cursor: pointer;
			margin-bottom: $s-1;
		}
		.__filter {
			margin: $s-2 0;
		}
	}
}