html {
    font-size: 62.5%;
}
body {
    font-size: 1.4rem; //14px
    font-family: 'Montserrat', sans-serif;
    &.noScroll {
        overflow: hidden;
    }
}
*, h1, h2, h3, h4, p, a, button {
    padding: 0;
    margin: 0;
}
*::-moz-selection {
    background-color: $lblue;
    color: white;
}
*::selection {
    background-color: $lblue;
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
}

$container-w-xl: 120rem + $cont_padding;
$container-w-l: 100rem + $cont_padding;
$container-w-m: 80rem + $cont_padding;
$container-w-s: 60rem + $cont_padding;
@mixin container($s: l) {
    width: 100%;
    padding: 0 $cont_padding;
    box-sizing: border-box;
    margin: 0 auto;
    @if($s == l) {
        max-width: $container-w-l;
    } @else if ($s == m) {
        max-width: $container-w-m;
    } @else if ($s == xl) {
        max-width: $container-w-xl;
    } @else if ($s == s) {
        max-width: $container-w-s;
    }
}

.container {
    max-width: 100rem + $cont_padding;
    width: 100%;
    padding: 0 $cont_padding;
    box-sizing: border-box;
    margin: 0 auto;
}
.container--m {
    @extend .container;
    max-width: 80rem + $cont_padding;
}

@media (min-width: $device-tabletLandscape) {
    ::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid transparent;
        border-width: 0 0 0 4px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.2);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 1px 1px 1px 1px;
        min-height: 28px;
        padding: 100px 0 0;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
        box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
    ::-webkit-scrollbar-button {
        height: 0;
        width: 0;
    }
    ::-webkit-scrollbar {
        height: 12px;
        overflow: visible;
        width: 12px;
    }
    ::-webkit-scrollbar-track-piece {
        background-clip: padding-box;
        background-color: #f5f5f5;
        // border: solid #fff;
        border-width: 0 0 0 3px;
        -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
        box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07)
    }
}

#app {
    .__fullLoading {
        z-index: $z-loading;
        background: rgba(255,255,255,.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 7rem;
            height: 7rem;
            user-select: none;
            pointer-events: none;
        }
        p {
            font-weight: 500;
            color: $lblue;
            user-select: none;
        }
        animation: fullLoadingAnimation .3s ease;
    }
}

@keyframes fullLoadingAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}