//////////////// COLORS
$error: #b00020;
$lblue-600: #219ae3;
$lblue-700: #1e87cf;
$lblue: #1b76bb; //800
$lblue-900: #165699;

$green-200: #8cd2ac;
$green: #22b573; //400
$green-500: #00a85b;
$green-800: #007639;

$gray-50:  #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$bg-gray: #efefef;

$transparent: (rgba(0,0,0,0));

//gradients
$gradient-a: linear-gradient(-30deg, #1BA4BB 0%, #1B75BB 44.33%, #615BBB 94.85%);

// size
$s3: 20px;
$s5: 30px;

$device-mobile: 376px;
$device-mobileLandscape: 426px;
$device-tablet: 769px;
$device-tabletLandscape: 1025px;
$device-desktop: 1200px;
$device-desktopLarge: 1500px;
$device-desktopWide: 1920px;


//zindex
$z-nav: 200;
$z-mobile-menu: 300;

$ease: cubic-bezier(0.23, 1, 0.32, 1);