//////////////// COLORS
$error: #b00020;

$red-50: #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;


$lblue-600: #219ae3;
$lblue-700: #1e87cf;
$lblue: #1b76bb; //800
$lblue-900: #165699;

$green-200: #8cd2ac;
$green: #22b573; //400
$green-500: #00a85b;
$green-800: #007639;

$gray-50:  #FAFAFA;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$bg-gray: #efefef;

$transparent: (rgba(0,0,0,0));

//gradients
$gradient-a: linear-gradient(-30deg, #1BA4BB 0%, #1B75BB 44.33%, #615BBB 94.85%);
$gradient-b: linear-gradient(90deg, rgba(27, 164, 187, 1) 0%, rgba(27, 117, 187, 1) 100%);

//breakpoints
$device-mobile: 376px;
$device-mobileLandscape: 426px;
$device-mobileLarge: 550px;
$device-tablet: 769px;
$device-tabletLandscape: 1025px;
$device-desktop: 1200px;
$device-desktopLarge: 1500px;
$device-desktopWide: 1920px;


//zindex
$z-nav: 200;
$z-mobile-menu: 300;
$z-loading: 5000;

$ease: cubic-bezier(0.23, 1, 0.32, 1);

// size
$spacer: 1rem;
$s-0: $spacer * 0;
$s-1: $spacer * .50;
$s-2: $spacer * 1;
$s-3: $spacer * 1.75;
$s-4: $spacer * 2.50;
$s-5: $spacer * 3;
$s-6: $spacer * 4;
$s-7: $spacer * 6;
$s-8: $spacer * 10;
$s-9: $spacer * 14;
$s-10: $spacer * 17;

$cont_padding: $s-3;

// borders
$grayBorder-400: solid 1px $gray-400;